<!DOCTYPE html>
<html>
<head>
    <title>URL Details</title>
</head>
<body>
    <h1>URL Details</h1>
    <p>Short URL: <%= id %></p>
    <p>Long URL: <%= longURL %></p>
    <a href="/urls/new">Create New URL</a>
</body>
</html>